body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.main-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo {
    color: #4d5ae5;
}

.span-footer-logo {
    color: #f4f4fd;
}

.span-logo {
    color: #2e2f42;
}

.menu-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.section-address {
    font-style: normal;
}


.address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.hero-header {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-section, .page-footer {
    background-color: #2E2F42;
}

.section-virtues-header, .section-team-header, .section-portfolio-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.header-virtues, .header-team, .header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.paragraph-virtues, .paragraph-team, .paragraph-portfolio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
background-color: #F4F4FD;
}
.list-team-item {
    background-color:#FFFFFF;
}

.header-team {
    text-align: center;
}

.paragraph-team {
    text-align: center;
}

.page-footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}